.iframe__container > iframe {
    display: block;
    margin: 1em;
    height: 300px;
}

iframe.resize-both {
    width: 100%;
    resize: both;
}

iframe.resize-vertical {
    width: 100%;
    resize: vertical;
}

.iframe__container > .button__container {
    margin: auto;
    text-align: center;
}
